bcrypt==4.1.3
boto3==1.34.136
boto3-type-annotations-with-docs==0.3.1
discord.py==2.4.0
geoip2==4.8.0
ossapi==4.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
redis==5.0.8
requests==2.32.3
sendgrid==6.11.0
sqlalchemy==2.0.31
timeago==1.0.16
titanic-pp-py==0.0.6
